/*It is just an exercise about styling a text*/
div {
    color: #FFF59D;
    background-color: #F06292;
    width: 50%;
    border: 7px solid #3F51B5;
    border-radius: 50px 15px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}